$font_orpheus: 'Orpheus Pro', cursive;
$font_inter: 'Inter', cursive;

$text_main_100: rgb(52, 52, 52);
$text_main_65: rgba(52, 52, 52, 0.65);
$text_main_25: rgba(52, 52, 52, 0.25);
$text_white_100: rgb(255, 255, 255);

$bg_main_100: rgb(52, 52, 52);
$bg_white_100: rgb(255, 255, 255);
$bg_white_15: rgba(255, 255, 255, 0.15);
$bg_main_20: rgba(52, 52, 52, 0.20);

$border_white_100: rgb(255, 255, 255);
$border_main_100: rgb(52, 52, 52);
$border_main_25: rgba(52, 52, 52, 0.25);
$border_main_15: rgba(52, 52, 52, 0.15);

$lg: 1440px;
$md: 1024px;
$sm: 600px;