$font_orpheus: 'Orpheus Pro', cursive;
$font_inter: 'Inter', cursive;

$text_main_100: #343434;
$text_main_65: #343434a6;
$text_white_100: #fff;

$bg_dark_100: #343434;
$bg_white_100: #ffffff;
$bg_white_15: #ffffff26;