@import '../global/vars.scss';

.section_1 {
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
  }

  .head_1 {
    padding: 85px 0 30px;
    color: $text_white_100;
  }

  button {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: $bg_white_100;
      transition: all 1s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover ~ img {
      transform: scale(1.1);
    }
  }
}

@media (max-width: $sm)  {
  .section_1 {
    padding-bottom: 100px;
    height: 720px;
    justify-content: flex-end;

    .head_1 {
      max-width: 200px;
      text-align: center;
    }

  }
}