@import '../global/vars.scss';

.section_5 {
  padding: 80px 5% 100px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 40px;
  }

  .gallery {
    display: flex;
    justify-content: space-between;

    img {
      height: 520px;
      width: calc(100% / 4 - 15px);
    }
  }
}

@media (max-width: $lg) {
  .section_5 {
    .gallery {
      img {
        height: 350px;
      }
    }
  }
}

@media (max-width: $md) {
  .section_5 {
    .gallery {
      img {
        height: 240px;
      }
    }
  }
}

@media (max-width: $sm) {
  .section_5 {
    padding: 35px 20px 0;
    
    .gallery {
      flex-wrap: wrap;

      img {
        margin-bottom: 10px;
        width: calc(50% - 5px);
      }
    }
  }
}