@import '../global/vars.scss';

.section_3 {
  display: flex;
  flex-direction: column;
  padding: 85px 5% 0;

  .block {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    .header {
      margin-bottom: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .body {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: $md) {
  .section_3 {
    .block {
      .body {
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: $sm) {
  .section_3 {
    padding: 70px 20px 0;

    .block {
      margin-bottom: 60px;
      
      .header {
        margin-bottom: 30px;
      }
    }
  }
}
