@import '../global/vars.scss';

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5.4%;
  height: 70px;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .burger_menu {
    display: flex;
    align-items: center;
    font-family: $font_inter;
    font-size: 14px;
    font-weight: 400;
    color: $text_white_100;

    span {
      margin-right: 20px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_burger.svg);
    }
  }

  .menu {
    display: flex;
    align-items: center;

    .dropdown {
      padding: 10px;
      position: relative;
      cursor: pointer;
      user-select: none;

      .options {
        position: absolute;
        top: 110%;
        left: -20px;
        width: 120px;
        max-width: none;
        max-height: 0;
        display: flex;
        flex-direction: column;
        background-color: $bg_white_100;
        overflow: hidden;
        
        p {
          margin: 0 20px 10px;
          color: $text_main_65;

          &:first-of-type {
            margin-top: 20px;
          }
  
          &:last-of-type {
            margin-bottom: 20px;
          }
        }
      }

      &.opened .options {
        max-height: none;
      }
    }

    p, h3 {
      color: $text_white_100;
    }

    .logo {
      margin: 0 30px;
    }
  }

  .controls {
    display: flex;
    align-items: center;

    .search {
      margin-right: 40px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_search.svg);
    }

    .shop_cart {
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_shop_cart.svg);
    }
  }
}


@media (max-width: $md) {
  header {
    padding: 0 20px;
    
    .menu {
      .dropdown {
        display: none;
      }
    }
  }
}