@import '../global/vars.scss';

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5.4%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .burger_menu {
    display: flex;
    align-items: center;
    font-family: $font_inter;
    font-size: 14px;
    font-weight: 400;
    color: $text_white_100;

    span {
      margin-right: 20px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_burger.svg);
    }
  }

  .menu {
    display: flex;
    align-items: center;

    & > * {
      color: $text_white_100;
    }

    .logo {
      margin: 0 40px;
    }
  }

  .controls {
    display: flex;
    align-items: center;

    .search {
      margin-right: 40px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_search.svg);
    }

    .shop_cart {
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_shop_cart.svg);
    }
  }
}
