@import '../global/vars.scss';

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  padding: 0 5.4%;
  height: 70px;
  max-width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .burger_menu_btn {
    display: flex;
    align-items: center;
    font-family: $font_inter;
    font-size: 14px;
    font-weight: 400;
    color: $text_white_100;

    span {
      margin-right: 20px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_burger.svg);
    }
  }

  .burger_menu_modal {
    position: fixed;
    top: 0;
    left: -110%;
    width: 100dvw;
    max-width: 1920px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg_white_100;
    transition: all .5s;
    z-index: 10;
    overscroll-behavior: contain;

    .header {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger_menu_close {
        padding: 18px 5px 18px 20px;
        display: flex;
        align-items: center;

        span {
          margin-right: 10px;
          width: 24px;
          height: 24px;
          background: url(../../assets/svg/icon_black_cross.svg) no-repeat center;
        }
      }

      .search {
        margin-right: 15px;
        background-image: url(../../assets/svg/icon_black_search.svg);
      }

      .shop_cart {
        margin-right: 20px;
        background-image: url(../../assets/svg/icon_black_shop_cart.svg);
      }
    }

    .category {
      padding: 0px 15px 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      h5 {
        margin-bottom: 20px;
      }

      .links {
        display: flex;
        flex-wrap: wrap;

        a {
          width: 50%;
          margin-bottom: 15px;
        }
      }
    }

    &.opened {
      left: 0;
    }
  }


  .menu {
    display: flex;
    align-items: center;

    .dropdown {
      padding: 10px;
      position: relative;
      cursor: pointer;
      user-select: none;

      .options {
        position: absolute;
        top: 110%;
        left: -20px;
        width: 120px;
        max-width: none;
        max-height: 0;
        display: flex;
        flex-direction: column;
        background-color: $bg_white_100;
        overflow: hidden;
        
        p {
          margin: 0 20px 10px;
          color: $text_main_65;

          &:first-of-type {
            margin-top: 20px;
          }
  
          &:last-of-type {
            margin-bottom: 20px;
          }
        }
      }

      &.opened .options {
        max-height: none;
      }
    }

    p, h3 {
      color: $text_white_100;
    }

    .logo {
      margin: 0 30px;
    }
  }

  .controls {
    display: flex;
    align-items: center;

    .search {
      margin-right: 40px;
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_search.svg);
    }

    .shop_cart {
      width: 24px;
      height: 24px;
      background-image: url(../../assets/svg/icon_white_shop_cart.svg);
    }
  }
}


@media (max-width: $md) {
  header {
    padding: 0 20px;

    .burger_menu_btn {
      span {
        margin-right: 10px;
      }
    }
    
    .menu {
      .dropdown {
        display: none;
      }
    }

    .controls {
      .search {
        margin-right: 20px;
      }
    }
  }
}